.App, ul {
  text-align: left;
  align-items: center;
  font-size: calc(40px + 2vmin);
  list-style: none;
  background-color: #282c34;
}
.App p{
   background-color: white;
   font-size: calc(10px + 2vmin);
}


.form1{
  font-size: calc(12px + 2vmin);

  height: 1;
  border-radius: 2px
}
.form2{
  font-size: calc(10px + 2vmin);

  height: 1;
  border-radius: 2px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
